<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409696307486-0i4upd92pr212rj0di01jliole2v7jcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409696307486-0i4upd92pr212rj0di01jliole2v7jcu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>409696307486-te1f1q07h0g579l5pcsvvorjchdhrpf8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuF3gc93-k0dxJiB8-S3494w0l4ZK--ig</string>
	<key>GCM_SENDER_ID</key>
	<string>409696307486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.threeyouth.runningHeart</string>
	<key>PROJECT_ID</key>
	<string>running-heart-4faf0</string>
	<key>STORAGE_BUCKET</key>
	<string>running-heart-4faf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409696307486:ios:4197db4204fad9170b610f</string>
</dict>
</plist>